[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["computing-portal/**"]

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

